<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <title> </title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

      body {
        font-family: "Tajawal", sans-serif;
        font-size: 16px;
        line-height: 1.5;

        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body
    class="w-full flex bg-slate-950 text-white justify-center p-6 items-center flex-col gap-6"
  >
    <section
      class="flex max-w-6xl w-full flex flex-col justify-start items-start gap-3"
    >
      <h1 class="text-2xl font-bold"></h1>
      <h2></h2>
      <p></p>
    </section>
  </body>
</html>
